<h2 *ngIf="isEditMode" mat-dialog-title>Update Receiver</h2>
<h2 *ngIf="!isEditMode" mat-dialog-title>Create Receiver</h2>
<mat-dialog-content class="mat-typography" style="height: 170px;">

    <div [formGroup]="receiverForm">

        <div class="mb-3">
          <label for="name" class="form-label">Name: </label>
          <input id="name" type="text" formControlName="name" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone: </label>
          <input id="phone" type="number" formControlName="phone" class="form-control" >
        </div>
      </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button *ngIf="!isEditMode" [disabled]="receiverForm.invalid" color="accent" (click)="addReceiver()">Create</button>
  <button mat-raised-button *ngIf="isEditMode" [disabled]="receiverForm.invalid" color="accent" (click)="updateReceiver()">Update</button>
</mat-dialog-actions>
