<h2 *ngIf="!isEditMode"mat-dialog-title>Create Supplier</h2>
<h2 *ngIf="isEditMode"mat-dialog-title>Update Supplier</h2>
<mat-dialog-content class="mat-typography"  style="height: 270px;">
    <div [formGroup]="supplierForm">

        <div class="mb-3">
          <label for="name" class="form-label">Name: </label>
          <input id="name" type="text" formControlName="name" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone: </label>
          <input id="phone" type="text" formControlName="phone" class="form-control" >
          <div class="text-danger" *ngIf="validPhone">
            Phone number can't start with 0
          </div>
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address: </label>
          <textarea id="address" type="text" formControlName="address" class="form-control" >
          </textarea>
        </div>
      </div>
      
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button *ngIf="!isEditMode" mat-raised-button color="accent" [disabled]="supplierForm.invalid || validPhone" (click)="addSupplier()">Create</button>
  <button *ngIf="isEditMode" mat-raised-button color="accent" [disabled]="supplierForm.invalid || validPhone" (click)="updateSupplier()">Update</button>
</mat-dialog-actions>
