<h2 mat-dialog-title>Create Shipment</h2>
<mat-dialog-content class="mat-typography" >

    <div [formGroup]="shipmentForm" class="row">
        <div class="mb-3 col-12">
            <label for="name" class="form-label">Tracking Number: </label>
            <input id="name" type="text" formControlName="trackingNumber" class="form-control" >
          </div>
          <div class="mb-3 col-6">
            <label for="supplier" class="form-label">Vendor: </label>
            <ngx-select-dropdown [config]="config" [options]="vendors" (change)="vendorChanged($event)"></ngx-select-dropdown>
          </div>
          <div class="mb-3 col-6">
            <label for="receiver" class="form-label">Receiver: </label>
            <ngx-select-dropdown [config]="config" [options]="receivers" (change)="receiverChanged($event)"></ngx-select-dropdown>
          </div>
    </div>
    
    <div class="my-2 mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" style="height: 300px;">
        ng update @angular/cli @angular/core
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <!-- ID Column -->
        <ng-container matColumnDef="Model">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{row.Model}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="Imei">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Imei</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Imei}}</mat-cell>
        </ng-container>
    
        
        <!-- actions -->
        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary" (click)="addShipment()">
              <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
          </mat-header-cell>
    
          <mat-cell *matCellDef="let row; let i=index;">
            <button mat-icon-button color="accent" (click)="deleteItem(row)">  
              <mat-icon aria-label="delete" >delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" mat-dialog-close [disabled]="shipmentForm.invalid || !receiverCheck ||!vendorCheck" (click)="createShipment()">Create</button>
</mat-dialog-actions>
