<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography" style="height: 150px;">
    
    <div [formGroup]="payUserForm">
        <label for="amount" class="form-label">Amount: </label>
        <input id="amount" type="number" formControlName="amount" class="form-control" >
      </div>
      
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" mat-dialog-close (click)="payAmount()">Receive</button>
</mat-dialog-actions>
