<h2 mat-dialog-title>Shipment Items</h2>
<mat-dialog-content class="mat-typography">
    <div class="my-2 mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" style="height: 440px;">
          ng update @angular/cli @angular/core
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
      
          <!-- ID Column -->
          <ng-container matColumnDef="Imei">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Imei</mat-header-cell>
            <mat-cell *matCellDef="let row" >{{row.Imei}}</mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="Vendor_Price">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Vendor_Price</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Vendor_Price}}</mat-cell>
          </ng-container>
    
      
          <!-- actions -->
          <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
      
            <mat-cell *matCellDef="let row; let i=index;">
              <button *ngIf="!row.Vendor_Received" mat-raised-button color="accent" (click)="openDialog(row.Item_Id)">
                Receive
              </button>
              <button *ngIf="row.Vendor_Received" mat-raised-button color="accent" disabled="true">
                Received
              </button>
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    
      </div>
      
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
