<div class="sidebar">
  <a routerLink="users">Users</a>
  <a routerLink="supplier-percel">Supplier Parcels</a>
  <a routerLink="receiver-parcels">Receiver Parcels</a>
  <a routerLink="receiver-pay-parcels">Receiver Pay Parcels</a> 
  <a routerLink="shipment">Shipment</a> 
  <a routerLink="receiver-inventory">Receiver Inventory</a>
  <a routerLink="vendor-shipment">Vendor Shipment</a>
  <a routerLink="vendor-items">Vendor Items</a>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>