
<mat-tab-group>
  <mat-tab label="All Parcels"> 
    <div class="mat-elevation-z8 m-3 mt-4">
    
      <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
          <input matInput #filter (keyup)="applyFilter($event)" placeholder="Filter">
        </mat-form-field>
      </div>
    
      <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
        
        <ng-container matColumnDef="Tracking_Number">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Tracking_Number</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{row.Tracking_Number}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="Post_Code">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Post_Code</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Post_Code}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="Parcel_Date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Parcel_Date</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Parcel_Date  | date:'mediumDate'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Supplier_Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Supplier_Name</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Supplier_Name}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="Receiver_Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Receiver_Name</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Receiver_Name}}</mat-cell>
        </ng-container>
      
    
        <!-- actions -->
        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary" >
              <mat-icon aria-label="Example icon-button with a heart icon"  data-bs-toggle="modal" data-bs-target="#supplierParcel">add</mat-icon>
            </button>
          </mat-header-cell>
    
          <mat-cell *matCellDef="let row; let i=index;"  (click)="viewItem(row)">
            <button mat-icon-button color="accent">
              <mat-icon aria-label="launch"  data-bs-toggle="modal" data-bs-target="#parcelItem">launch</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-tab>
  <mat-tab label="Un Paid Items"> 
     <app-un-paid-items></app-un-paid-items>   
  </mat-tab>
  <mat-tab label="Un Received Items">
    <app-un-received-items></app-un-received-items>  
  </mat-tab>
</mat-tab-group>

<app-supplier-parcel-modal></app-supplier-parcel-modal>
<app-parcel-item-modal [parcelId]="parcelId"></app-parcel-item-modal>
<!-- <div class="modal fade" #parcelItemModal id="parcelItem" tabindex="-2" aria-labelledby="parcelItemLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="parcelItemLabel">Parcal Items</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="row my-2 mx-3">
          <div class="col-5 form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Default radio
            </label>
          </div>
          <div class="col-5 form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Default radio
            </label>
          </div>
        </div>
        
        <table class="table rounded border" style="height: 350px;">
          <thead class="table-head">
            <tr>
              <th>Model</th>
              <th>Price</th>
              <td style="width: 230px;">Actions</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of parcelItems">
              <td>{{item.Model}}</td>
              <td>{{item.Price}}</td>
              <td >
                <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#parcelItems">View</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div [formGroup]="parcelItemForm" class="row mb-4">
          <div class="col-5">
            <label for="model" class="form-label">Model: </label>
            <input id="model" type="text" formControlName="model" class="form-control" >
          </div>
          <div class="col-5">
            <label for="price" class="form-label">Price: </label>
            <input id="price" type="text" formControlName="price" class="form-control" >
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-success" style="margin-top: 30px;" (click)="createParcelItem()"> Create</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
       </div>
    </div>
  </div>
</div> -->