/* You can add global styles to this file, and also import other style files */
.table-head{
    background-color: #3f51b5;
    height: 50px !important;
    vertical-align: middle !important;
    color: white !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  